@mixin about-me {
    @include container-props($black, 1000px);
    @include flex(flex, row, center, center);
    // MAIN CONTAINER
    .container {
        @include flex(flex, row, center, center);
        height: 100%;
        width: 80%;
        // CONTENT LEFT
        .content-left {
            z-index: 2;
            margin-right: 30px;
            width: 420px;
            height: 480px;
            h2 {
                @include font-style(36px, $white, 300, uppercase);
                margin-bottom: 65px;
                &::after {
                    @include heading-border-bottom;
                }
            }
            p {
                @include font-weight(normal);
                font-size: 14px;
                line-height: 30px;
            }
        }
        // IMAGE RIGHT
        .img-right {
            width: 525px;
            height: 480px;
            position: relative;
            z-index: 1;
            .field {
                img {
                    width: 525px;
                    height: 480px;
                }
            }
            &::before {
                content: "";
                background: $dark-blue;
                width: 300px;
                height: 300px;
                top: -150px;
                left: -150px;
                position: absolute;
                z-index: -100;
            }
            &::after {
                content: "";
                background: #1D1524;
                width: 100px;
                height: 100px;
                bottom: -50px;
                right: -50px;
                position: absolute;
                z-index: -1;
                transform: rotate(-45deg);
            }
        }
    }
}